/* Réinitialisation de certains styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #9009ab;
    line-height: 1.6;
    padding: 20px;
}

header {
    background-color: #444;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 3px solid #021121;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 15px;
}

nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    font-size: 18px;
}

main {
    padding: 20px;
}

h1 {
    color: #333;
}

p {
    margin: 10px 0;
}

/* Ajoute un peu plus de style à la liste dans les services */
ul {
    list-style-type: square;
    margin: 20px 0;
    padding: 0 20px;
}

ul li {
    margin: 10px 0;
}

/* Style pour le footer si vous choisissez d'en ajouter un */
footer {
    text-align: center;
    padding: 20px;
    background-color: #444;
    color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Améliorations pour les écrans plus petits */
@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
